@charset "utf-8";

/* basic */
#wrap {
  overflow: hidden;
}

.inner {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}

.pretendard {
  font-family: 'Pretendard';
}

@media all and (max-width: 1400px) {
  .inner {
    width: 93.75%;
  }
}

/* header */
#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 100;
  background: rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
#header .inner {
  height: 100%;
}

#header a.logo {
  width: 100px;
  height: 44px;
  background-image: url("../images/logo_on.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}

#header .gnb {
  float: right;
}

#header .gnb > ul:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
}

#header .gnb > ul > li {
  float: left;
}

#header .gnb > ul > li:last-child a {
  padding-right: 0;
}

#header .gnb > ul > li > a {
  display: block;
  padding: 25px 55px 25px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  transition: 0.2s;
  font-family: 'TheJamsil';
}

#header .gnb > ul > li > div {
  display: none;
}

#header .gnb > ul > li.relative {
  position: relative;
}

#header .gnb > ul > li div.depth_type01 {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background: rgba(246, 246, 246, 0.9);
  padding: 25px 0;
  text-align: center;
}

#header .gnb > ul > li div.depth_type01 ul li {
  position: relative;
}

#header .gnb > ul > li div.depth_type01 ul li a {
  display: block;
  font-size: 16px;
  color: #666666;
  font-weight: 300;
  padding: 8px 0;
  position: relative;
}

#header .gnb > ul > li div.depth_type01 ul li a:before {
  content: "";
  width: 0;
  height: 1px;
  background: #1771e8;
  position: absolute;
  left: 0;
  top: 50%;
  transition: 0.2s;
}

#header .gnb > ul > li div.depth_type01 ul li:hover a {
  color: #1771e8;
}

#header .gnb > ul > li div.depth_type01 ul li:hover a:before {
  width: 35px;
}

#header .gnb > ul > li div.depth_type02 {
  position: absolute;
  left: 50%;
  top: 100%;
  width: 100%;
  background: rgba(246, 246, 246, 0.9);
  text-align: center;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
}

/*#header .gnb > ul > li div.depth_type02:before{content:""; width:10000%; height:100%; background:rgba(246,246,246,0.9); position:absolute; left:-5000%; top:0; }*/
#header .gnb > ul > li div.depth_type02 > ul {
  font-size: 0;
  letter-spacing: -4px;
  text-align: center;
  position: relative;
  z-index: 2;
}

#header .gnb > ul > li div.depth_type02 > ul > li {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  border-right: 1px solid #ced0d0;
  padding: 25px 0;
  box-sizing: border-box;
}

#header .gnb > ul > li div.depth_type02 > ul > li:last-child {
  border-right: 0;
}

#header .gnb > ul > li div.depth_type02 > ul > li > a {
  display: block;
  font-size: 17px;
  color: #1771e8;
  letter-spacing: -0.025em;
  font-weight: 500;
  padding: 8px 0;
}

#header .gnb > ul > li div.depth_type02 > ul > li > ul {
}

#header .gnb > ul > li div.depth_type02 > ul > li > ul li a {
  display: block;
  font-size: 15px;
  color: #666666;
  letter-spacing: -0.025em;
  font-weight: 300;
  padding: 8px 0;
  position: relative;
}

#header .gnb > ul > li div.depth_type02 > ul > li > ul li a:before {
  content: "";
  width: 0;
  height: 1px;
  background: #1771e8;
  position: absolute;
  left: -50%;
  top: 50%;
  transition: 0.2s;
}


#header .gnb > ul > li div.depth_type02 > ul > li > ul li:hover a {
  color: #1771e8;
}

#header .gnb > ul > li div.depth_type02 > ul > li > ul li:hover a:before {
  width: 35px;
}

#header .m_btn {
  display: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}

#header .m_btn span {
  display: block;
  width: 24px;
  height: 2px;
  background: #fff;
  margin: 7px 0;
}

#header:hover {
  background: #fff;
  box-shadow: 4px 0 20px rgba(0, 0, 0, 0.1);
}

#header:hover a.logo {
  background-image: url("../images/logo.png");
}

#header:hover .gnb > ul > li > a {
  color: #333333;
}

#header:hover .m_btn span {
  background: #000;
}

#header.on {
  background: #fff;
  box-shadow: 4px 0 20px rgba(0, 0, 0, 0.1);
}

#header.on a.logo {
  background-image: url("../images/logo.png");
}

#header.on .gnb > ul > li > a {
  color: #3a3a3a;
}

#header.on .m_btn span {
  background: #000;
}

#header .gnb > ul > li:hover > a {
  color: #1771e8;
}

@media all and (max-width: 1200px) {
  #header .gnb > ul > li > a {
    /* padding: 36px 40px 37px; */
  }
}

@media all and (max-width: 1000px) {
  #header {
  }

  #header .gnb {
    display: none;
  }

  #header .m_btn {
    display: block;
  }
}

/* m_menu */
.m_menu_bg {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.m_menu_bg.on {
  display: block;
}

.m_menu {
  position: fixed;
  left: -100%;
  top: 0;
  width: 80%;
  height: 100%;
  overflow-y: auto;
  z-index: 999;
  background: #fff;
  transition: 0.5s;
}

.m_menu.on {
  left: 0;
}

.m_menu .top_box {
  position: relative;
  height: 80px;
  background: #ffffff;
  border-bottom: 1px solid #e4e4e4;
}

.m_menu .top_box a.logo {
  display: inline-block;
  position: absolute;
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.m_menu .top_box a.close_btn {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.m_menu .login_box {
  font-size: 0;
  letter-spacing: -4px;
  padding: 20px;
  box-sizing: border-box;
}

.m_menu .login_box a {
  display: inline-block;
  vertical-align: top;
  width: calc(50% - 5px);
  margin-right: 10px;
  border-radius: 30px;
  box-sizing: border-box;
  height: 60px;
  line-height: 56px;
  border: 2px solid #1c6bba;
  background: #1c6bba;
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.045em;
}

.m_menu .login_box a:last-of-type {
  margin-right: 0;
  color: #1c6bba;
  background: none;
}

.m_menu .gnb {
}

.m_menu .gnb > ul {
  padding: 10px 20px;
  box-sizing: border-box;
}

.m_menu .gnb > ul > li {
}

.m_menu .gnb > ul > li > a {
  display: block;
  padding: 25px 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #e4e4e4;
  font-size: 35px;
  font-weight: 300;
  letter-spacing: -0.045em;
  color: #666666;
}

.m_menu .gnb > ul > li.on > a {
}

.m_menu .gnb > ul > li > a.not {
  background: #fff;
}

.m_menu .gnb > ul > li div {
  display: none;
  background: #f1f1f1;
  padding: 15px;
  box-sizing: border-box;
}

.m_menu .gnb ul.depth2 li:not(:last-child) {
  margin-bottom: 25px;
}

.m_menu .gnb ul.depth2 li a {
  display: block;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: -0.045em;
  color: #666666;
}

.m_menu .gnb ul.depth2 li a.depth03_btn {
  display: none;
}

/* footer */
#footer {
  background: #46556e;
  padding: 30px 0 30px;
}

#footer .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer .inner .footerlogo {
  width: 100px;
  height: 44px;
  background-image: url("../images/logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}
#footer .left ul {
  font-size: 0;
  letter-spacing: -4px;
  margin-bottom: 25px;
}

#footer .left ul li {
  display: inline-block;
  vertical-align: top;
}

#footer .left ul li a {
  display: block;
  font-size: 16px;
  color: #cccccc;
  letter-spacing: 0em;
  font-weight: 400;
  padding: 0 20px;
  position: relative;
}

#footer .left ul li:first-child a {
  padding-left: 0;
}

#footer .left ul li a:before {
  content: "";
  width: 1px;
  height: 14px;
  background: #8c8c8c;
  position: absolute;
  right: 0;
  top: calc(50% - 7px);
}

#footer .left ul li:last-child a:before {
  display: none;
}

#footer .left p {
  font-size: 14px;
  color: #cccccc;
  line-height: 1.5;
  font-weight: 300;
}

#footer .left p b {
  font-weight: 600;
  border-radius: 30px;
  padding: 5px 10px 5px 0;
}
#footer .left p span {
  padding: 5px 10px 5px 0;
}

#footer .right {
  text-align: right;
}

#footer .right select::-ms-expand {
  display: none;
}

#footer .right ul {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  letter-spacing: -4px;
}

#footer .right ul li {
  display: inline-block;
  vertical-align: top;
}

#footer .right ul li a {
  display: block;
  position: relative;
}

#footer .right ul li:last-child a {
  padding-right: 0;
}

#footer .right p {
  margin-top: 20px;
  font-size: 14px;
  color: #a8a8a8;
  font-weight: 200;
}

#footer .right p b {
  font-weight: 500;
}

@media (max-width: 1000px) {
  #footer {
    padding: 30px 0 40px;
  }

  #footer .inner {
    flex-direction: column;
  }

  #footer .left {
    text-align: center;
  }

  #footer .left ul li a {
    padding: 8px !important;
  }

  #footer .left ul li a:before {
    display: none;
  }

  #footer .right {
    float: none;
    text-align: center;
    margin-top: 30px;
  }

  #footer .right p {
    margin: 20px 0 10px;
  }
}

@media (max-width: 505px) {
  #footer .left p {
    display: flex;
    flex-direction: column;
}
}
